{{!< default}}
{{#post}}
<article class="{{post_class}}">

    <div class="container limit-width">
        <div class="page-header">
          <h1>{{title}}</h1>
          By 
          {{#foreach authors}}
            <a href="{{url}}" class="author-avatar">
              <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
            </a>
          {{/foreach}}
          {{authors}} On <time>{{date}}</time>
          {{#if reading_time}}
              <br/>
              <span class="byline-reading-time">{{reading_time}}</span>
          {{/if}}
        </div>
        
		<div class="content">
			{{content}}
		</div>

		<div class="post-bottom-info">
			<div class="tags">
				{{#foreach tags}}
				<a href="{{url}}" class="label label-info">{{name}}</a>
				{{/foreach}}
			</div>

			<!-- oldschool share buttons -->
			{{!-- {{> addons/share}} --}}
		</div>
    </div>
</article>

{{> prev_next_post}}

<!-- Comments -->
{{> addons/comment}}

{{/post}}
